body, html{
    height:100%;
    margin:0px;
}
body{
    background-color:whitesmoke;
}
nav li{
display:inline;
margin:20px;
}
nav ul{
    background-color:rgb(211, 191, 191);
    text-decoration-color: green;
    margin:0;
    list-style-type:none;
    width:100%;
    padding:20px;

}
nav{
    display:block;
    color:white;
}

nav a{
    color:rgb(43, 24, 56);
    text-decoration:none;
}
nav a:hover{
    color:white

}
.pic1, pic2, pic3{
    background-image: url("../Images/pic1.jpg");
    height:10%;
    /* background-repeat:no repeat; */
    background-size:cover;
    background-position:center;
    position: relative;
}
.main{
    width:50%;
    float:left;
    height:50%;
    padding-left:0px;
    padding-top:0px;
}
#side{
     width:40%;
    float:right;
    /* height:50%; */
    padding:20px;
}

.side-articles ul{
    list-style-type: none;
    padding-left:0px;
}


.side-articles, .main-articles{
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;
}
.side-articles{
    background-color: darkgray;
    text-align:center;
}
.main-articles{
    background-color:lightgray;
}
textarea, input{
    background-color: lightgray;
    border-radius:5px;
    padding:5px;
    margin:5px;
}
.side-articles h1{
    margin-bottom:20px;
}
footer{
    width:100%;
    background-color: black;
    height: 5vh;
    margin-top: 0px;
}
footer div{
    text-align:center;
    color:white;
}
main{
    overflow:auto;
}
footer hr{
    margin-top: 0px;
    height:12px;
    border:5px;
    box-shadow:inset 0 12px -12px whitesmoke;
}   